<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <title>Products</title>
</head>
<body>
<div class="container-fluid d-flex justify-content-center text-center mt-2 bg-light">
    <div class="row mr-3">
        <div class="col-sm-8 mb-2">
            <a th:href="@{/}">Home</a>
        </div>
    </div>

    <div class="row mr-3">
        <div class="col-sm-8 mb-2">
            <a th:href="@{/users}">Manage Users</a>
        </div>
    </div>
    <div class="row mr-3">
        <div class="col-sm-8 mb-2">
            <a th:href="@{/products}">Manage Product</a>

        </div>
    </div>
    <div class="row mr-3">
        <div class="col-sm-8 mb-2">
            <a th:href="@{/clients}">Manage Client</a>

        </div>
    </div>
    <div class="row ml-5">
        <div class="col-sm-8 mb-2">
            <a class="btn btn-success" th:href="@{/user/login}">Logout</a>

        </div>
    </div>

</div>
<div class="container-fluid text-center">
    <div class="m-5"><h2>Manage Products</h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/product/new}" >Add New User</a>
    </div>
    <div th:if="${message}" class="alert alert-success text-center"></div>
</div>

<div>
   <table class="table table-bordered">
       <thead class="thead-light">
       <tr>
           <th>ID</th>
           <th>Product Name</th>
           <th>Product Type</th>
           <th>Quantity</th>
           <th>Price/Unit</th>
           <th>Total Price</th>
           <th>Action</th>
       </tr>
       </thead>
       <tbody>
       <th:block th:each="product : ${listProduct}">
           <tr>
               <td>[[${product.id}]]</td>
               <td>[[${product.productName}]]</td>
               <td>[[${product.productType}]]</td>
               <td>[[${product.quantity}]]</td>
               <td>[[${product.price_per_unit}]]</td>
               <td>[[${product.totalPrice}]]</td>
               <td>
                   <a class="btn btn-primary" th:href="@{'/product/edit/' +${product.id}}">Edit</a>
                   <a class="btn btn-danger" th:href="@{'product/delete/' +${product.id}}">Delete</a>
               </td>
           </tr>

       </th:block>
       </tbody>
   </table>
</div>
<!--<di class="text-center">-->
<!--    <button type="button" class="btn btn-primary" onclick="cancelFunction()">Cancel</button>-->
<!--    <button type="button" class="btn btn-danger" onclick="exitFunction()">Exit</button>-->
<!--</di>-->


<!--<script>-->
<!--    function cancelFunction(){-->
<!--        window.location = "/login/user";-->
<!--    }-->

<!--    function exitFunction(){-->
<!--        window.location = "/";-->
<!--    }-->
<!--</script>-->

</body>
</html>
